In [57]:
# First we will import the necessary Library 
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

# For Evalution we will use these library
from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score 
from sklearn.metrics import mean_poisson_deviance, mean_gamma_deviance, accuracy_score
from sklearn.preprocessing import MinMaxScaler

# For PLotting we will use these library

import matplotlib.pyplot as plt
from itertools import cycle
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [58]:
maindf = pd.read_csv("D:/latihan-time-series/dataset/BTC-USD.csv", parse_dates=['Date']);

In [59]:
maindf = maindf.set_index("Date");

In [60]:
print('Total number of days present in the dataset: ',maindf.shape[0])
print('Total number of fields present in the dataset: ',maindf.shape[1])

Total number of days present in the dataset:  2896
Total number of fields present in the dataset:  6

In [61]:
maindf.shape

(2896, 6)

In [62]:
maindf.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-12-09,361.894989,363.066986,344.950989,352.218994,352.218994,32915500
2014-12-10,352.204987,352.384003,346.364990,346.364990,346.364990,16427700
2014-12-11,344.339996,361.356995,338.763000,350.506012,350.506012,32431300
2014-12-12,350.833008,352.983002,349.290985,352.541992,352.541992,16989800
2014-12-13,352.381012,352.381012,346.588013,347.376007,347.376007,11675900

In [63]:
maindf.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-08,20600.671875,20664.607422,17603.544922,18541.271484,18541.271484,118992465607
2022-11-09,18543.761719,18590.458984,15682.692383,15880.780273,15880.780273,102905151606
2022-11-10,15883.158203,18054.312500,15834.018555,17586.771484,17586.771484,83202283721
2022-11-11,17583.251953,17650.943359,16543.482422,17034.292969,17034.292969,55871616488
2022-11-12,17066.675781,17066.675781,16659.347656,16752.431641,16752.431641,50010157056

In [64]:
maindf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2896 entries, 2014-12-09 to 2022-11-12
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2896 non-null   float64
 1   High       2896 non-null   float64
 2   Low        2896 non-null   float64
 3   Close      2896 non-null   float64
 4   Adj Close  2896 non-null   float64
 5   Volume     2896 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 158.4 KB

In [65]:
maindf.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2896.000000,2896.000000,2896.000000,2896.000000,2896.000000,2.896000e+03
mean,13149.534783,13485.262436,12773.448934,13153.611024,13153.611024,1.673386e+10
std,16409.155989,16830.044971,15921.479471,16403.946301,16403.946301,2.020561e+10
min,176.897003,211.731003,171.509995,178.102997,178.102997,7.860650e+06
25%,762.625244,773.658493,750.296265,764.113251,764.113251,1.304910e+08
50%,7203.029297,7360.274659,7034.664795,7206.265625,7206.265625,7.769794e+09
75%,17729.801270,18182.687988,16685.660644,17709.528809,17709.528809,2.860266e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

### EDA

In [66]:
sd=maindf.iloc[0][0]
ed=maindf.iloc[-1][0]

print('Starting Date',sd)
print('Ending Date',ed)

Starting Date 361.894989
Ending Date 17066.675781

In [67]:
# maindf['Date'] = pd.to_datetime(maindf['Date'], format='%Y-%m-%d')

In [68]:
# y_2015 = maindf.loc[(maindf['Date'] >= '2015-01-01') & (maindf['Date'] <= '2015-12-31')]

In [69]:
# y_2015= y_2015.drop(['Adj Close','Volume'],axis=1)

In [70]:
# new_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [71]:
# monthvise= y_2015.groupby(y_2015['Date'].dt.strftime('%B'))[['Open','Close']].sum();

In [72]:
#maindf = maindf.groupby(pd.Grouper(freq="M")).mean();
maindf = maindf.resample('M').sum()

In [73]:
maindf

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-12-31,7624.380982,7732.759063,7465.040009,7585.486970,7585.486970,453524040
2015-01-31,7805.797057,8103.139068,7455.362047,7712.258972,7712.258972,1098811912
2015-02-28,6519.011980,6725.920045,6377.550996,6556.302049,6556.302049,711518700
2015-03-31,8347.630997,8520.380983,8157.159026,8340.310027,8340.310027,959098300
2015-04-30,7071.260025,7168.712939,6952.020995,7064.746018,7064.746018,672338700
...,...,...,...,...,...,...
2022-07-31,664166.724611,682377.974610,649727.046878,667716.869144,667716.869144,927582363389
2022-08-31,696627.863282,708988.843753,684342.738283,693354.255859,693354.255859,894192654543
2022-09-30,594640.611332,605980.480469,581012.177734,594143.376955,594143.376955,1123272250385
2022-10-31,608098.798830,615971.992192,600810.257817,609166.294925,609166.294925,957903424925
2022-11-30,234381.345703,238854.263672,225552.125000,230609.538085,230609.538085,740094218304

In [74]:
df_2015 = maindf.loc[(maindf.index >= '2015-01-01') & (maindf.index <= '2015-12-31')]

In [75]:
df_2015

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-31,7805.797057,8103.139068,7455.362047,7712.258972,7712.258972,1098811912
2015-02-28,6519.011980,6725.920045,6377.550996,6556.302049,6556.302049,711518700
2015-03-31,8347.630997,8520.380983,8157.159026,8340.310027,8340.310027,959098300
2015-04-30,7071.260025,7168.712939,6952.020995,7064.746018,7064.746018,672338700
2015-05-31,7352.015991,7426.457992,7283.121018,7346.907030,7346.907030,568122600
2015-06-30,7108.242980,7203.811021,7050.847003,7142.452972,7142.452972,629780200
2015-07-31,8644.588061,8807.793029,8517.924008,8666.475938,8666.475938,999892200
2015-08-31,7842.589996,7948.893050,7661.533950,7772.747957,7772.747957,905192300
2015-09-30,7004.601991,7100.540025,6948.964983,7007.865997,7007.865997,603623900
2015-10-31,8131.485991,8299.959990,8075.220017,8210.516023,8210.516023,953279500
2015-11-30,10406.005004,10841.237001,10087.916077,10466.499968,10466.499968,2177623396
2015-12-31,13101.159029,13378.626893,12817.260010,13158.400971,13158.400971,2096250000

In [76]:
# monthvise = monthvise.reindex(new_order, axis=0)

In [77]:
# monthvise

In [78]:
fig = go.Figure()

fig.add_trace(go.Bar(
    x=df_2015.index,
    y=df_2015['Open'],
    name='Stock Open Price',
    marker_color='crimson'
))
fig.add_trace(go.Bar(
    x=df_2015.index,
    y=df_2015['Close'],
    name='Stock Close Price',
    marker_color='lightsalmon'
))

fig.update_layout(barmode='group', xaxis_tickangle=90, 
                  title='Monthwise comparision between Stock open and close price')
fig.show()